.Home {
  min-width: 650px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  width: 95vw;
  height: 95vh;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.Movies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 8rem;
  width: 95%;
}