.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
}
.Header p {
    display: inline-block;
    text-align: center;
    padding: 1rem 40%;
    font-size: 2em;
    font-weight: 800;
    white-space: nowrap;
}
.Header a {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: 500;
    color: #61dafb !important;
}