.Navigation {
    position: fixed;
    opacity: 0;
    width: 150px;
    height: 100vh;
    max-height: 100%;
    left: -120px;
    background-color: #00050f;
    z-index: 10;
    color: #f0f0f0;
}
.Navigation:hover {
    opacity: 0.98;
    left: 0;
    transition: all 1s;
}