.Navigation {
    position: fixed;
    opacity: 0;
    width: 180px;
    height: 100vh;
    max-height: 100%;
    top: 0;
    left: -120px;
    background-color: #00050f;
    color: #f0f0f0;
    z-index: 10;
}
.Navigation:hover {
    opacity: 0.95;
    left: 0;
    transition: all 1s;
}